body
{
    background-image: url("../Images/BikiniBottem.jpg");
}

h1{
    color: 	#004225;
}
.content{
    background-color: antiquewhite;
    opacity: 0.88;
    padding-bottom: 6%;
}
.purpleBackground
{
    background-color: 	#A020F0;
    color: white;
    outline-color: none;
    border-color: none;
    padding-bottom: 5px;
    border-radius: 5px;
}
.buttonStyle
{
    padding-bottom: 10px;
}

.purpleBackground:hover
{
    background-color: 	#800080;
}
.storyPart
{
    text-align: center;
}
h1{
    text-align: center;
}

.lowerButton
{
    justify-content: center;
}
.spacer
{
 padding-bottom: 50px   ;
}

.mainContent{
    padding-bottom: 50px;
}

.buffer{
    height: 5%;
}

@media only screen and (max-width: 990px) {
    img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
  }